services:
    crafty:
        container_name: crafty_container
        image: registry.gitlab.com/crafty-controller/crafty-4:latest
        restart: always
        environment:
            - TZ=America/Sao_paulo
        ports:
            - "8443:8443" # HTTPS
            - "8123:8123" # DYNMAP
            - "19132:19132/udp" # BEDROCK
            - "25500-25600:25500-25600" # MC SERV PORT RANGE
        volumes:
            - /mnt/satassd/service_data/crafty/backups:/crafty/backups
            - /mnt/satassd/service_data/crafty/logs:/crafty/logs
            - /mnt/satassd/service_data/crafty/servers:/crafty/servers
            - /mnt/satassd/service_data/crafty/config:/crafty/app/config
            - /mnt/satassd/service_data/crafty/import:/crafty/import