name: 'utils'

volumes:
  portainer_data:

services:
  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - '9000:9000'

  watchtower:
    image: containrrr/watchtower:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    cap_add:
      - NET_RAW
      - SETUID

  librespeed:
    image: lscr.io/linuxserver/librespeed:latest
    restart: always
    environment:
      - TZ=America/Sao_Paulo
      - PUID=1000
      - PGID=1000
    volumes:
      - /home/servo/Services/librespeed:/config
    ports:
      - '9091:80'
  homarr:
    image: ghcr.io/homarr-labs/homarr:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Optional, only if you want docker integration
      - /home/servo/Services/homarr/appdata:/appdata
    environment:
      - SECRET_ENCRYPTION_KEY=637d18f88f777efbad4b2f99e6417397dfc8a4cb02c7607be729b4a6c6c5abe3
    ports:
      - '7575:7575'
    network_mode: host
  dash:
    image: mauricenino/dashdot:latest
    restart: always
    privileged: true
    ports:
      - '8585:3001'
    volumes:
      - /mnt/satassd/service_data/dash:/mnt/host:ro
  nginx_proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always
    environment:
      TZ: "America/Sao_paulo"
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - /mnt/satassd/service_data/npm/data:/data
      - /mnt/satassd/service_data/npm/letsencrypt:/etc/letsencrypt
